  <footer id="desingBy" >
  	<div id="contenedorP" class="container" >

  		  	<div class="  col-xs-12 col-md-6 " id="social">
						
				<div>
					<a  href="https://www.facebook.com/motifsegurosoficial/" target="_blank"><i class="fa-3x fab fa-facebook-square" aria-hidden="true"></i></a>
					<a class="socialLink" href="https://twitter.com/motifseguros" target="_blank" ><i class="fa-3x fab fa-twitter-square" aria-hidden="true"></i></a> 
					<a class="socialLink" href="https://www.instagram.com/motifseguros/" target="_blank"><i class="fab fa-3x fa-instagram" aria-hidden="true"></i></a> 
				</div>

				<div style="display:inline-flex">
					<div  style="width:fit-content" >
						<i class="fa-2x fab fa-whatsapp" aria-hidden="true"></i> 
					</div>
					<div style="width:fit-content; margin-top:1%;">
						<p style="    font-size: large;padding-left: 10px;    margin-bottom: 0px;"> +58 (412) 699-4625</p>	
					</div>					
				</div>

				<div style="width:100%">
					<p style="   font-size: large;">Caracas, Venezuela</p>
	  				<p style="   font-size: large;">Diseño Web por <a style="   color:#508cd2;" href="https://www.facebook.com/SwordVoice/">SwordVoice.com</a> 2018</p>

				</div>



			</div>	

			<div class="  col-xs-12 col-md-6 " style="text-align:center;padding:0" >

				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMotifSeguros-169797503641566%2F%3Fnotif_id%3D1517627220600844%26notif_t%3Dpage_invite%26ref%3Dnotif&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

			</div>

			<div id="derechos" class="  col-xs-12 " style="text-align:center; margin-top:2% ; font-size: medium" >

		  			<p> © 2018 - MotifSeguros | Todos los derechos reservados.</p>			 
			</div>	


		



  	</div>

  </footer>	