<div style="position:relative; width:100%; height:100vh">
	

	<header class="pageHeader"> 
		<div class="container">
			<div style="margin-top:55px" class="row " >
			</div>
			<div class="row texto" >

				<div class=" col-xs-12 col-md-6 " >
				</div>
				<div id="logoContainer"  class=" col-xs-12 col-md-6 " >

					<img id="logo"  src="../assets/img/aboutLogo.png">
					
		
					
					<p>					
						{{sumPresentation}}
					</p>
					<a href="/contact"><button class="btn btn-default" id="contacto"  >Contáctanos</button></a>
					

				</div>
			</div>


			<div class="row texto" id="bottomWrapper">
			
			</div>


		</div>	
	</header>

<!--footer id="desingBy" ><p>Diseño Jainer Muñoz 2017@<a href="http://www.SwordVoice.com">SwordVoice.com</a></p></footer-->		
</div>


