<div id="contenedor">


	<button id="btnArriba" class="btn btnFijo" *ngIf="flechaArriba" (click)="up()"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
	<button id="btnAbajo" class="btn btnFijo" *ngIf="flechaAbajo" (click)="down()"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>



	<div  id="sixthImg" class="image">
	  <div class="contedorT">
	  	<div class="rellenoT">
	  		<h2  class="title">VIAJES</h2>
	  	</div>
	  </div>
	</div>

	<div  class="paragraph">
		<div class=" paragraphCont">
			<div class="col-md-2  banners" id="viaBanIzq">
				
			</div >
			<div class="col-md-8 col-xs-12 scrolleable style-7" >

				<h4>VIAJES</h4><br>
				<p>La póliza de asistencia en viajes te ofrece cobertura en dólares o en euros dependiendo la exigencia del país de destino, y te permite disfrutar de la aventura de viajar sin dejar cumplir con los requisitos que exijen los convenios internacionales.</p>	<br>
			  <p>
			  	Tener un seguro de viaje es indispensable!<br><br>
				Durante un viaje pueden surgir emergencias médicas que implican atención y prestaciones muy costosas. Así como también la posibilidad que cancelen tu vuelo, que tu equipaje se extravíe o sea robado entre otras eventualidades.</p>	<br>

				<p>Un Seguro de Viaje puede ofrecerte la protección que necesitas a la hora de resolver cualquier emergencia y viajar más tranquilo y seguro a un monto más accesible de lo que imaginas, no dejes que los imprevistos te tomen por sorpresa. Por eso te ofrecemos:</p>		

				<ul>
					<li>
						Asistencia médica por accidentes
							
					</li>
					<li>
						Asistencia médica por enfermedad no preexistente
								
					</li>
					<li>
						Medicamentos recetados incluidos
									
					</li>
					<li>
						Emergencia dental
						
					</li>
					<li>
						Gastos de hotel por convalecencia
								
					</li>
					<li>
						Gastos por vuelo demorado o cancelado
						
					</li>
					<li>
						Gastos por demora en la devolución del equipaje 
						
					</li>
					<li>
						Compensación complementaria por pérdida de equipaje 
						
					</li>
					
				</ul>	
			  

			
			</div>
			<div class="col-md-2  banners" id="viaBanDer">
				
			</div>
		</div>
 
	</div>



	<div  id="firstImg" class="image">
	  <div class="contedorT">
	  	<div class="rellenoT">
	  		<h2  class="title">SALUD</h2>
	  	</div>
	  </div>
	</div>
	<div  class="paragraph">
		<div class=" paragraphCont">
			<div class="col-md-2  banners" id="saludBanIzq" >
				
			</div >
			<div class="col-md-8 col-xs-12 scrolleable style-7">

				<h4>SALUD</h4><br>
			  <p>Con la póliza de salud te puedes sentir sin preocupación donde quiera que estés, por su excelente cobertura y una amplia red de proveedores a nivel <strong>MUNDIAL</strong>; ofreciendote atención las 24 horas del día, los 7 días de la semana, los 365 días del año.</p><br>	



				<p>Algunos de los beneficios incluidos en nuestros planes de salud son los siguientes:</p>	<br>

				<ul>
			<li>
				 Plazos de espera tan solo de 30 días.
			</li>	
			<li>
				Exoneración del pago de deducible para Venezuela.
			</li>
			<li>
				Beneficios de maternidad incluyendo a hijos dependientes.
			</li>
			<li>
				Envío de reclamos y seguimiento del progreso de los mismos en línea.
			</li>
			<li>
				Extracción de las muelas del juicio.
				
			</li>	
			<li>
				Primas exoneradas por dos años para dependientes sobrevivientes.
				
			</li>
			<li>
				Repatriación de restos mortales o cobertura del entierro local en lugar de la repatriación.
			</li>	
			
		</ul>


				

			</div>
			<div class="col-md-2  banners" id="saludBanDer" >
				
			</div>
		</div>
 
	</div>


	<div  id="fifthImg" class="image">
	  <div class="contedorT">
	  	<div class="rellenoT">
	  		<h2  class="title">SEGURO DE VIDA</h2>
	  	</div>
	  </div>
	</div>

	<div  class="paragraph">
		<div class=" paragraphCont">
			<div class="col-md-2  banners" id="invBanIzq">
				
			</div >
			<div class="col-md-8 col-xs-12  style-7 scrolleable">
				<h4>VIDA UNIVERSAL</h4><br>

				<p>Un seguro de vida le brinda el respaldo para proteger financieramente a sus seres queridos,
					su patrimonio y sus compromisos de pago ante una potencial incapacidad personal,
					una pérdida patrimonial o en caso de fallecimiento</p>

				<ul>
					<li>Nuestros productos de vida universal, son de alta calidad a nivel mundial, con el fin de satisfacer a nuestros clientes de seguridad financiera en segmentos bien definidos.</li>
					<li>La anualidades indexadas fijas tienen un interés que está vinculado en parte al crecimiento en el mercado de acciones, medido por un indice como el S & P 500</li>
					<li>Sujeto a garantías mínimas fijas, el valor de una anualidad indexada fija, núnca disminuirá debido solo al movimiento del indice.</li>
				</ul>			

				

			</div>
			<div class="col-md-2  banners" id="invBanDer">
				
			</div>
		</div>
 
	</div>


	<div  id="secImg" class="image">
	  <div class="contedorT">
	  	<div class="rellenoT">
	  		<h2  class="title">AUTO</h2>
	  	</div>	
	  </div>
	</div>
	<div  class="paragraph">
		<div class=" paragraphCont">
			<div class="col-md-2  banners" id="autoBanIzq" >
				
			</div >
			<div class="col-md-8 col-xs-12 scrolleable style-7">
				<h4>AUTO</h4><br>
			  <p>Nuestra novedosa póliza de automóvil está diseñada especialmente para ti. Con productos que se adaptan a tu medida y que te permiten escoger las coberturas de acuerdo a tus posibilidades económicas y necesidades.</p><br>
			   
			  <ul >
			  	<li>
			  		Responsabilidad Civil de vehículos
			  	</li>
			  	<li>
					Servicio de grúas
			  	</li>
			  	<li>
					
			  		Vidrios 2 eventos por año
			  	</li>
			  	<li>
			  		Perdida total
			  	</li>

			  	<li>
					Daños parciales
			  		
			  	</li>
			  	<li>
			  		Cobertura amplia
			  	</li>
			  	
			  </ul>	
			  <p>

			  	
			  </p><br>	

			  
			</div>
			<div class="col-md-2  banners" id="autoBanDer">
				
			</div>
		</div>
 
	</div>



	<div  id="thirdImg" class="image">
	  <div class="contedorT">
	  	<div class="rellenoT">
	  		<h2  class="title">PATRIMONIO</h2>
	  	</div>
	  </div>
	</div>

	<div  class="paragraph">
		<div class=" paragraphCont">
			<div class="col-md-2 banners" id="patriBanIzq">
				
			</div >
			<div class="col-md-8 col-xs-12 scrolleable style-7 ">
				<h4>PATRIMONIO</h4><br>
				<p>Pensando en la Protección de tu patrimonio hemos diseñados productos para que puedas asegurar lo más valioso para ti; desde el hogar, empresa y hasta todos los bienes que poseas.</p><br>

				<p>A continuación te presentamos algunos de los bienes y servicios asegurables:</p><br>
				
				<ul>
					<li>
						Hogar
					</li>
					<li>
						Industria y comercio					
					</li>
					<li>
						Embarcaciones
					</li>
					<li>
						Aeronaves						
					</li>
					<li>
						Equipos médicos
						
					</li>
					<li>
						Mercancía en tránsito
						
					</li>
					<li>
						Fianzas
						
					</li>
					
					
				</ul>
				<br>
				


			</div>
			<div class="col-md-2 banners" id="patriBanDer">
				
			</div>
		</div>
 
	</div>

		<div id="actionButtons"  >
					<button class="btn btn-danger"><a href="/contact">Contáctanos</a> </button>
					<button class="btn btn-danger" style="margin-left: 10px"><a href="/price">Presupuesto</a></button>
		</div>

</div>