a {
	color: white;
	font-size: large;
}

a:hover, a:focus {
	text-decoration: none;
	color: white

}

#actionButtons{
	position: fixed;    bottom: 2%;    left: calc(50% - 134px);
}

.banners{
	
	display: none;
	height: 80vh;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

#viaBanIzq{
	background-image: url("../../assets/img/viajeBannerSmall1.jpg");

}

#viaBanDer{
	background-image: url("../../assets/img/viajeBannerSmall2.jpg");
}

#autoBanIzq{
	background-image: url("../../assets/img/autoBannerSmall1.jpg");
}
#autoBanDer{
	background-image: url("../../assets/img/autoBannerSmall2.jpg");
}
#saludBanIzq{
	background-image: url("../../assets/img/saludBannerSmall1.jpg");
}
#saludBanDer{
	background-image: url("../../assets/img/saludBannerSmall2.jpg");
}
#patriBanIzq{
	background-image: url("../../assets/img/patriBannerSmall1.jpg");
}
#patriBanDer{
	background-image: url("../../assets/img/patriBannerSmall2.jpg");
}

#invBanIzq{
	background-image: url("../../assets/img/invBannerSmall1.jpg");
	    background-position-x: 30%;
}
#invBanDer{
	background-image: url("../../assets/img/invBannerSmall2.jpg");
	background-position-x:right;

}



.style-7::-webkit-scrollbar-track
{
	display: none;
}

.style-7::-webkit-scrollbar
{
	width: 6px;
	background-color: #1d2735;/*rgba(0,0,0,0.2);/*#F5F5F5;*/
}

.style-7::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}


.paragraphCont{
	padding-top: calc(50px + 2%);
}

.paragraphCont p, ul {
	font-family: Dosis;
	font-size: medium;
	color: white;

}

.paragraphCont h4 {
	color: white;
	font-family: Dosis;
	font-size: large

}

.paragraphCont ul li {
	padding-top: 2%;
}

.btn:focus,.btn:active:focus{
	outline: initial !important;
}

.btnFijo{
	border-radius: 50%;
	webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    position: fixed;
    background: #82b1ff  !important;
    z-index: 200;
    color: #f1f1f1
}


#btnArriba,#btnAbajo{
    right: 0;
    margin-right: 5%;
    margin-bottom: 5%;    
    width: 40px;
    height: 40px; 

}

#btnArriba{
    bottom: 50px;
}


#btnAbajo{
    bottom: 0;
}


#contenedor{
    background: #1d2731;
    width: 100%;
}

.contedorT{
	height: 100vh
}
.rellenoT{
	font-family: Playfair Display sc, sans-serif;
    padding-bottom: 1%;
    text-align: center;
    font-size: 5vh;
    color: #fcf8e3;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 70%;
    background-color: rgba(40,96,144,0.6);
    /* object-fit: cover; */
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

}
.paragraph {

	height: 100vh;/*40*/
}

.paragraph p {
	color: white;
}

.scrolleable{
	overflow-y: scroll;
	height: 80vh;/*130*/
}

.image {
	background-attachment: scroll;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
}
.title{
  /*  font-family: Playfair Display sc, sans-serif;
    padding-bottom: 1%;
    text-align: center;
    font-size: 5vh;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: fit-content;
    background-color: rgba(101, 118, 142, 0.5);*/
    
}



p,h2 {
	margin: 0
}


#firstImg {
	/*margin-top: 50px;*/
	background-image: url("../../assets/img/salud-compressor.jpg");
}

#secImg {
	background-image: url("../../assets/img/auto-md.jpg");
			background-position: center ;
		background-position-y: inherit;
}

#thirdImg {
	background-image: url("../../assets/img/patrimoniales.jpg");
}
#fourImg {
	background-image: url("../../assets/img/fianzas-compressor.png");	
}
#fifthImg {
	background-image: url("../../assets/img/inversiones.jpg");	
}

#sixthImg {
	background-image: url("../../assets/img/viajes.jpg");	
}


@media (max-width: 380px) { 
	
	#btnArriba,#btnAbajo{  margin-bottom: 60px; }
}

@media (min-width: 576px) { 
	.title{	    
	    font-size: 8vh; 
	}	
 }

 @media (min-width: 900px) and (pointer:coarse) and (orientation:landscape){
 	.banners{
		display: block;

	}
 }

@media (min-width: 900px) {
		.paragraphCont{
		padding-top: calc(5vh + 50px);
	}
		.banners{
		display: block;
		
	}
}


@media (min-width: 900px) and (pointer:fine) { 





	.title{	    
	    font-size: 15vh; 
	}

	.image{
		background-attachment: fixed;



	}


	#secImg {
		background-image: url("../../assets/img/auto.jpg");

	}

	#btnArriba{
	    margin-right: 2%;
	    margin-bottom: 2%;      
	}




	#btnAbajo{


	    margin-right: 2%;
	    margin-bottom: 2%;    

	    
	}
 }

 









